body{
    background-color:gray;
    margin: 0;
}
.box{
    background-color: rgb(112, 112, 112);
    width: 60%;
    margin: 10% auto;
    text-align: center;
}
h2{
    margin: 0;
}
input{
    width: 90%;
}